:root {
    --dark: #0B2027;
    --light: #F1E3E4;
    --bright: #FF41DC;
    --action: #59CD90;
    --neutral: #FF7F11;
    --picSize: 180px;
    --lightrgb: rgba(241, 227, 228, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 80%;
    margin: auto;
}

h1 {
    color: var(--bright);
    font-size: 3rem;
}

p {
    color: var(--light);
    font-size: 1.2rem;
}

header p {
    font-size: 2rem;
}

header span {
    text-transform: uppercase;
}

.domain span {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.characters {
    display: flex;
    flex-wrap: wrap;
}

.char {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    /* justify-content: center; */
}

/* Make flex nonsense ignore the <p> */
.char > p {
    flex-basis: 100%;
}

/* Force last section onto new line (cos it's shorter and tries to wrap) */
.sec3 {
    flex-basis: 100%;
}

figure {
    padding: 5px;
    margin: 10px;
    /* display: flex;
    flex-flow: column; */
}

figure img {
    border-radius: 25%;
    max-width: var(--picSize);
    height: auto;
}

figcaption {
    border: 2px solid var(--light);
    background-color: var(--neutral);
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-family: 'Baloo 2';
    max-width: var(--picSize);
    text-shadow:1px 0 0 var(--light),0 1px 0 var(--light),-1px 0 0 var(--light),0 -1px 0 var(--light);
}

.char p::first-letter {
    text-transform: capitalize;
}

.char p {
    font-weight: bold;
    color: var(--action);
}

.day {
    color: var(--action);
}

.sunday {
    font-size: 5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

ul li {
    color: var(--dark);
    font-size: 1.9rem;
    padding: 16px;
    background-color: var(--action);
    border-radius: 20px;
    margin: 0 20px 10px 0;
    border: 2px solid var(--light);
}

footer {
    background: var(--lightrgb);
    text-align: center;
    padding: 4px;
    margin: 80px 0 0 0;
    /* position: absolute;
    bottom: 0; */
}

footer p {
    font-size: 0.9rem;
    color: var(--action);
}

footer a:link,
footer a:visited {
    color: var(--light);
    text-decoration: none;
}

footer a:hover,
footer a:active {
    color: var(--bright);
    text-decoration: none;
}

.icon {
    /* display: inline-block; */
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 4px;
    display: inline-block;
    vertical-align: -3px;
}